footer {
    background-color: #06aa48;
}

.conteiner_footer {
    font-size: 14px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1300px;
    margin: auto;
}

.diretorion_footer_esquerda {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    width: 20%;
}


.footer_texto {
    color: #fff;
    padding: 0 10px;
    padding: 10px;
    background-color: #06aa48;
}

.footer_texto_link {
    color: #fff;
    text-decoration: none;
}

.tampaBuraco {
    padding-right: 500px;
}

.diretorion_footer_direita {
    text-align: right;
    margin-top: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;


}

.footer_direita {
    justify-content: right;
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 1360px) {

    .conteiner_footer {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {

    .conteiner_footer {
        padding-top: 10px;
        height: 130px;
        display: block;
        text-align: left;
    }

    .diretorion_footer_direita {
        text-align: left;
        width: 100%;
    }

    .footer_direita {
        justify-content: left;
    }
}